<%- include("partials/header"); -%>

<h1>Your Bowler</h1>
<% balls.forEach(function(ball){ %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Matches Played</th>
      <th scope="col">Economy Rate</th>
      <th scope="col">Wicket</th>
      <th scope="col">Price</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row"><%= ball.bo_id %></th>
      <td><%= ball.name %></td>
      <td><%= ball.matches %></td>
      <td><%= ball.economy %></td>
      <td><%= ball.wicket %></td>
      <td><%= ball.price %></td>
    </tr>
  </tbody>
</table>
<% }) %>

<h2>Type ID and price of the player you want to delete</h2>

<form class="" action="/Dbowler" method="post">
  <div class="form-group">
    <label>Bowler ID</label>
    <input class="form-control" type="text" name="bo_id" placeholder="BOXXX">
    <label>Enter Price</label>
    <input type="text" name="bo_price" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit" name="button"> Delete Bowler </button>
</form>

<%- include("partials/footer"); -%>
